<%- include('../template/head')-%>
<title>Interstella Home Page</title>
<%- include('../template/header')-%>
<%- include('../template/nav')-%>
</head>
<body style="background-color: #53737c;">
  <div class="container mt-5 justify-content-center px-4 py-4 rounded-5" style="width: 500px; background-color: #b4cfd7;">
    <div class="text-center">
      <h4>Welcome to Interstella database</h4>
      <p>Here, you can view captain, spaceship, and cargo information</p>
    </div>

  </div>

    
</body>
<%- include('../template/footer')-%>

</html