<!-- Footer Partial Template -->
<footer class="justify-content-center mt-5 p-3" style="background-color: #0c2b33">
    <div class="text-center text-white">
        <p>@ Copyright 2024 Tri Vo</p>
    </div>
</footer>